@model Parks.WebApp.Models.Entities.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisterNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
              
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back Vehicles list</a>
    </form>
</div>
